@{
    Layout = "";
}
<html>
<head>
    <title>Rate Your Last Trip</title>
    <link href="~/css/rating.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="feedback">
            <div class="con-feed">
                <p class="head">Rate Your Experince</p>
                @foreach (var t in ViewBag.Schedule)
                {
                    <p>Station: @t.StationFrom</p>
                    <p>To: @t.StationTo</p>
                    <p>Time: @t.Time</p>
                    <p id="Tic" hidden>@ViewBag.Id</p>
                }

            </div>
            <div class="rating">
                <input type="radio" name="rating" id="rating-5" value="5">
                <label for="rating-5"></label>
                <input type="radio" name="rating" id="rating-4" value="4">
                <label for="rating-4"></label>
                <input type="radio" name="rating" id="rating-3" value="3">
                <label for="rating-3"></label>
                <input type="radio" name="rating" id="rating-2" value="2">
                <label for="rating-2"></label>
                <input type="radio" name="rating" id="rating-1" value="1">
                <label for="rating-1"></label>
            </div>
        </div>
    </div>
</body>
<script>
        const ratingInputs = document.querySelectorAll('.rating input[type="radio"]');
    const hiddenInput = document.querySelector('#Tic');

    ratingInputs.forEach(input => {
        input.addEventListener('change', (event) => {
            const ratingValue = event.target.value;
            const idValue = hiddenInput.textContent;
            const url = `/Passenger/SaveR?action=submit&rating=${ratingValue}&id=${idValue}`;
            window.location.href = url;
        });
    });
</script>
</html>